.example-card {
  width: 500px;
}

div {
  text-align: -webkit-center;
}

.mat-card-actions {
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 450px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.frm {
  padding-top: 15px;
}


div::-webkit-scrollbar {
  display: none;
}

mat-tab-doby::-webkit-scrollbar {
  display: none;
}